body {
  font-family: Inter, sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0 40px;
}

#title,
#description {
  text-align: center;
  margin: 0;
}

#title {
  font-weight: bold;
  color: blue;
}

#description {
  padding: 5px 0 40px 0;
  font-weight: 500;
}

button,
label,
input {
  display: block;
  width: 100%;
}

button,
input,
select {
  box-sizing: border-box;
  height: 36px;
}

label {
  margin: 0 0 8px 0;
  font-weight: 500;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 0 4px 4px 0;
  vertical-align: middle;
  width: auto;
  height: auto;
  accent-color: blue;
  transform: scale(1.2);
}

fieldset {
  border: none;
  margin: 30px 0;
  padding: 0;
}

textarea,
select {
  width: 100%;
  border: 2px solid blue;
  border-radius: 6px;
  box-sizing: border-box;
}

#survey-form {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 50px;
}

button {
  background: blue;
  border-color: blue;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

input {
  border: 2px solid blue;
  border-radius: 6px;
}

.font-normal {
  font-weight: normal;
  margin-bottom: 12px;
}

.fieldset-last-el {
  margin-bottom: 0;
}

#top-fieldset {
  margin-top: 0;
}